@import b3.vertical.fieldConstructor

@(currentUserOpt: Option[User],bookForm:Form[BookForm])(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)

@main(Messages("UpdateBook"), currentUserOpt){
    @if(currentUserOpt.isEmpty) {
            <div class="center jumbotron">
            <div class="text-center">
            <a href="@routes.SignUpController.index()" class="btn btn-lg btn-primary">@Messages("SignUpNow")</a>
            </div>
            </div>
    } else {
        <div class="container">
            <h1>書籍編集ページ</h1>
            <div class="row">
                <div class="col-xs-6">
                    @b3.formCSRF(routes.UpdateBookController.update){
                        @b3.hidden(bookForm("id").name, bookForm("id").value.get)
                        @b3.text(bookForm("title"), '_label -> "Title")
                        @b3.text(bookForm("roll"), '_label -> "Roll")
                        @b3.text(bookForm("author"), '_label -> "Author")
                        @b3.submit('class -> "btn btn-default"){
                            @Messages("UpdateBooK")
                        }
                    }
                </div>
            </div>
        </div>


    }


}